<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
    <style>
        
body {
  background-image: url('images/back.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<title>Covid-19 Help Page</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  </style>
  </head>
</head>
<body>
 	<div class="container my-2">
 
		<h1 style="text-align:center;">WELCOME TO THE COVID19 HELPLINEDESK CREATED BT TEAM TEERX</h1>
<h2 style="text-align:center;">THE PERSON IN NEED WILL CONTACT YOU SOON</h2>
<img th:src="@{/images/thank_you.png}" alt="THANK YOU" style="width:700px;height:300px;" class="center">		
				
	</div>
</body>
</html>

